.portfolio_wrap {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.portfolio_wrap img {
  width: 100%;
  height: auto;
}
.portfolio_wrap .portfolio_title {
  position: absolute;
  bottom: 2%;
  left: 0;
  padding: 0px 10px 0px 10px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
