.signup_wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
  padding: 10px;
  margin: 0 auto;
}
.signup_wrap .logo {
  font-size: 30px;
}
.signup_wrap .profile {
  font-size: 50px;
  cursor: pointer;
}
.signup_wrap form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.signup_wrap form > input {
  border: 1px solid rgb(200, 200, 200);
  padding: 10px;
  width: 100%;
}
.signup_wrap form > button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
}
